In [1]:
import pymongo
import nltk
import pandas as pd

# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://timanderin.info:27017'
client = pymongo.MongoClient(conn)
speechDB = client.speech_db
debateCOL3 = speechDB.clean

In [2]:
emot_speech = debateCOL3.find()
i = 0
while i < debateCOL3.count():
#     print(emot_speech[i]['emotion_IND'])
    i = i+1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
emotion = []
decade = []
for i in range(0,1026):
    emotion.append(emot_speech[i]['emotion_IND'])
    decade.append(emot_speech[i]['decade'])

In [4]:
df = pd.DataFrame({'Emotions':emotion, 'Decades':decade})
df.head(15)

                                             Emotions  Decades
0   {'fear': 0.35817867517471313, 'anger': 0.31283...     2010
1   {'sadness': 0.3576829433441162, 'joy': 0.35660...     2010
2   {'joy': 0.351865291595459, 'sadness': 0.294412...     2010
3   {'sadness': 0.6004540920257568, 'joy': 0.18300...     2010
4   {'sadness': 0.5419189929962158, 'joy': 0.19670...     2010
5   {'joy': 0.5561728477478027, 'sadness': 0.21797...     2010
6   {'sadness': 0.42764848470687866, 'fear': 0.236...     2010
7   {'joy': 0.4847100079059601, 'sadness': 0.35202...     2010
8   {'sadness': 0.35724419355392456, 'joy': 0.3239...     2010
9   {'joy': 0.3416825234889984, 'surprise': 0.2746...     2010
10  {'fear': 0.3038862645626068, 'joy': 0.24270166...     2010
11  {'anger': 0.3031593859195709, 'sadness': 0.283...     2010
12  {'joy': 0.4387452006340027, 'sadness': 0.28117...     2010
13  {'joy': 0.5409163236618042, 'sadness': 0.17318...     2010
14  {'joy': 0.6017840504646301, 'fear': 0.14732320...     2010

In [5]:
df.Emotions.apply(pd.Series)

          fear     anger   sadness       joy  surprise
0     0.358179  0.312837  0.194708  0.121962  0.012315
1     0.151704  0.096394  0.357683  0.356606  0.037613
2     0.120055  0.082044  0.294413  0.351865  0.151624
3     0.067979  0.073086  0.600454  0.183002  0.075480
4     0.066055  0.048958  0.541919  0.196705  0.146363
5     0.119225  0.058110  0.217971  0.556173  0.048522
6     0.236152  0.213699  0.427648  0.108749  0.013751
7     0.057918  0.036668  0.352026  0.484710  0.068677
8     0.180071  0.082432  0.357244  0.323924  0.056329
9     0.109007  0.078825  0.195847  0.341683  0.274639
10    0.303886  0.226802  0.196371  0.242702  0.030239
11    0.161104  0.303159  0.283849  0.203806  0.048082
12    0.154073  0.059822  0.281171  0.438745  0.066188
13    0.101134  0.072483  0.173182  0.540916  0.112285
14    0.147323  0.059838  0.127122  0.601784  0.063933
15    0.098866  0.165601  0.208971  0.483612  0.042950
16    0.106582  0.037583  0.131871  0.608067  0.115897
17    0.160561  0.358769  0.273111  0.183702  0.023856
18    0.261023  0.065054  0.179367  0.174450  0.320106
19    0.149487  0.106494  0.347502  0.323188  0.073329
20    0.455162  0.067499  0.198687  0.253864  0.024787
21    0.200397  0.056831  0.178613  0.525384  0.038776
22    0.173100  0.190311  0.480276  0.116240  0.040073
23    0.148205  0.179649  0.407673  0.198475  0.065998
24    0.127989  0.116697  0.242593  0.456826  0.055895
25    0.098418  0.437752  0.337999  0.092252  0.033579
26    0.111256  0.061064  0.172946  0.326079  0.328655
27    0.528864  0.071413  0.211019  0.134206  0.054498
28    0.114350  0.074980  0.362552  0.414355  0.033762
29    0.070216  0.264027  0.350721  0.278147  0.036889
...        ...       ...       ...       ...       ...
996   0.341296  0.238834  0.128126  0.167050  0.124694
997   0.165376  0.284256  0.268435  0.158127  0.123806
998   0.153398  0.182940  0.275342  0.192795  0.195524
999   0.103625  0.234423  0.325226  0.204883  0.131844
1000  0.245111  0.337028  0.182141  0.156078  0.079642
1001  0.262214  0.099261  0.329427  0.188980  0.120118
1002  0.322312  0.167077  0.249158  0.188565  0.072888
1003  0.122353  0.048083  0.158117  0.201415  0.470032
1004  0.271124  0.246884  0.193515  0.227529  0.060948
1005  0.175346  0.295482  0.299101  0.164748  0.065322
1006  0.212905  0.231938  0.167402  0.307942  0.079814
1007  0.187401  0.092181  0.124677  0.513209  0.082533
1008  0.132024  0.057480  0.237003  0.175781  0.397713
1009  0.375099  0.026834  0.051974  0.468004  0.078089
1010  0.138774  0.072751  0.195746  0.258721  0.334008
1011  0.241621  0.144763  0.280363  0.209662  0.123590
1012  0.329132  0.063837  0.149105  0.390967  0.066960
1013  0.163487  0.286165  0.178789  0.242950  0.128609
1014  0.205004  0.257618  0.211813  0.219882  0.105684
1015  0.185280  0.138776  0.397627  0.154204  0.124114
1016  0.181905  0.356287  0.177135  0.195728  0.088944
1017  0.447921  0.086593  0.115135  0.272454  0.077897
1018  0.367556  0.224609  0.116098  0.240096  0.051641
1019  0.166532  0.079515  0.194431  0.269332  0.290190
1020  0.162759  0.253727  0.147544  0.286115  0.149856
1021  0.149951  0.103211  0.252449  0.412360  0.082029
1022  0.131447  0.108420  0.296172  0.288099  0.175862
1023  0.264497  0.278112  0.133757  0.286431  0.037202
1024  0.161143  0.092965  0.183695  0.340471  0.221726
1025  0.397567  0.305922  0.140499  0.109670  0.046342

[1026 rows x 5 columns]

In [6]:
df[['fear', 'anger', 'sadness', 'joy', 'surprise']] = df.Emotions.apply(pd.Series)*100
df.head()

,Emotions,Decades,fear,anger,sadness,joy,surprise
0,"{'fear': 0.35817867517471313, 'anger': 0.31283...",2010,35.817868,31.283671,19.470757,12.196220,1.231488
1,"{'sadness': 0.3576829433441162, 'joy': 0.35660...",2010,15.170407,9.639399,35.768294,35.660616,3.761279
2,"{'joy': 0.351865291595459, 'sadness': 0.294412...",2010,12.005459,8.204398,29.441255,35.186529,15.162361
3,"{'sadness': 0.6004540920257568, 'joy': 0.18300...",2010,6.797903,7.308555,60.045409,18.300177,7.547961
4,"{'sadness': 0.5419189929962158, 'joy': 0.19670...",2010,6.605512,4.895784,54.191899,19.670507,14.636302

In [7]:
NoEmt_df = df.drop(columns=['Emotions'])
NoEmt_df.head()

   Decades       fear      anger    sadness        joy   surprise
0     2010  35.817868  31.283671  19.470757  12.196220   1.231488
1     2010  15.170407   9.639399  35.768294  35.660616   3.761279
2     2010  12.005459   8.204398  29.441255  35.186529  15.162361
3     2010   6.797903   7.308555  60.045409  18.300177   7.547961
4     2010   6.605512   4.895784  54.191899  19.670507  14.636302

In [8]:
bydecades_df = NoEmt_df.groupby(['Decades']).mean()
bydecades_df.head()

              fear      anger    sadness        joy   surprise
Decades
1780     16.246661  19.112414  26.310353  30.031760   8.298811
1790     17.270718  22.618341  29.638802  21.711551   8.760590
1800     16.654071  20.162094  32.822978  21.093367   9.267490
1810     18.826094  18.910640  29.600810  21.455339  11.207115
1820     17.277240  19.877746  28.244384  26.716524   7.884106

In [9]:
final_emot_df = bydecades_df.round(2)
final_emot_df

          fear  anger  sadness    joy  surprise
Decades
1780     16.25  19.11    26.31  30.03      8.30
1790     17.27  22.62    29.64  21.71      8.76
1800     16.65  20.16    32.82  21.09      9.27
1810     18.83  18.91    29.60  21.46     11.21
1820     17.28  19.88    28.24  26.72      7.88
1830     15.61  20.84    32.44  21.58      9.53
1840     17.80  20.95    28.48  23.70      9.06
1850     19.59  20.68    32.33  18.85      8.55
1860     20.09  20.02    29.45  21.19      9.25
1870     19.75  22.56    32.97  18.30      6.41
1880     18.07  23.51    26.59  23.14      8.69
1890     19.63  19.64    29.28  21.69      9.75
1900     21.09  20.90    28.28  22.40      7.32
1910     21.28  22.01    31.41  17.55      7.75
1920     20.45  19.40    31.51  20.56      8.08
1930     18.42  22.89    32.94  18.70      7.04
1940     17.31  15.42    33.61  27.11      6.55
1950     23.61  15.74    22.70  28.80      9.15
1960     18.73  15.70    28.49  25.37     11.71
1970     19.11  13.59    27.15  28.98     11.17
1980     17.85  16.49    30.98  23.74     10.93
1990     18.46  14.61    25.37  30.03     11.53
2000     17.30  17.54    29.55  27.69      7.91
2010     18.11  15.43    27.50  30.72      8.24

In [10]:
resetindex_emot_df = final_emot_df.reset_index()
resetindex_emot_df

    Decades   fear  anger  sadness    joy  surprise
0      1780  16.25  19.11    26.31  30.03      8.30
1      1790  17.27  22.62    29.64  21.71      8.76
2      1800  16.65  20.16    32.82  21.09      9.27
3      1810  18.83  18.91    29.60  21.46     11.21
4      1820  17.28  19.88    28.24  26.72      7.88
5      1830  15.61  20.84    32.44  21.58      9.53
6      1840  17.80  20.95    28.48  23.70      9.06
7      1850  19.59  20.68    32.33  18.85      8.55
8      1860  20.09  20.02    29.45  21.19      9.25
9      1870  19.75  22.56    32.97  18.30      6.41
10     1880  18.07  23.51    26.59  23.14      8.69
11     1890  19.63  19.64    29.28  21.69      9.75
12     1900  21.09  20.90    28.28  22.40      7.32
13     1910  21.28  22.01    31.41  17.55      7.75
14     1920  20.45  19.40    31.51  20.56      8.08
15     1930  18.42  22.89    32.94  18.70      7.04
16     1940  17.31  15.42    33.61  27.11      6.55
17     1950  23.61  15.74    22.70  28.80      9.15
18     1960  18.73  15.70    28.49  25.37     11.71
19     1970  19.11  13.59    27.15  28.98     11.17
20     1980  17.85  16.49    30.98  23.74     10.93
21     1990  18.46  14.61    25.37  30.03     11.53
22     2000  17.30  17.54    29.55  27.69      7.91
23     2010  18.11  15.43    27.50  30.72      8.24

In [11]:
df2dict=resetindex_emot_df.set_index('Decades').transpose().to_dict(orient='dict')
df2dict

{1780: {'fear': 16.25,
  'anger': 19.11,
  'sadness': 26.31,
  'joy': 30.03,
  'surprise': 8.3},
 1790: {'fear': 17.27,
  'anger': 22.62,
  'sadness': 29.64,
  'joy': 21.71,
  'surprise': 8.76},
 1800: {'fear': 16.65,
  'anger': 20.16,
  'sadness': 32.82,
  'joy': 21.09,
  'surprise': 9.27},
 1810: {'fear': 18.83,
  'anger': 18.91,
  'sadness': 29.6,
  'joy': 21.46,
  'surprise': 11.21},
 1820: {'fear': 17.28,
  'anger': 19.88,
  'sadness': 28.24,
  'joy': 26.72,
  'surprise': 7.88},
 1830: {'fear': 15.61,
  'anger': 20.84,
  'sadness': 32.44,
  'joy': 21.58,
  'surprise': 9.53},
 1840: {'fear': 17.8,
  'anger': 20.95,
  'sadness': 28.48,
  'joy': 23.7,
  'surprise': 9.06},
 1850: {'fear': 19.59,
  'anger': 20.68,
  'sadness': 32.33,
  'joy': 18.85,
  'surprise': 8.55},
 1860: {'fear': 20.09,
  'anger': 20.02,
  'sadness': 29.45,
  'joy': 21.19,
  'surprise': 9.25},
 1870: {'fear': 19.75,
  'anger': 22.56,
  'sadness': 32.97,
  'joy': 18.3,
  'surprise': 6.41},
 1880: {'fear': 18.07,
  'anger': 23.51,
  'sadness': 26.59,
  'joy': 23.14,
  'surprise': 8.69},
 1890: {'fear': 19.63,
  'anger': 19.64,
  'sadness': 29.28,
  'joy': 21.69,
  'surprise': 9.75},
 1900: {'fear': 21.09,
  'anger': 20.9,
  'sadness': 28.28,
  'joy': 22.4,
  'surprise': 7.32},
 1910: {'fear': 21.28,
  'anger': 22.01,
  'sadness': 31.41,
  'joy': 17.55,
  'surprise': 7.75},
 1920: {'fear': 20.45,
  'anger': 19.4,
  'sadness': 31.51,
  'joy': 20.56,
  'surprise': 8.08},
 1930: {'fear': 18.42,
  'anger': 22.89,
  'sadness': 32.94,
  'joy': 18.7,
  'surprise': 7.04},
 1940: {'fear': 17.31,
  'anger': 15.42,
  'sadness': 33.61,
  'joy': 27.11,
  'surprise': 6.55},
 1950: {'fear': 23.61,
  'anger': 15.74,
  'sadness': 22.7,
  'joy': 28.8,
  'surprise': 9.15},
 1960: {'fear': 18.73,
  'anger': 15.7,
  'sadness': 28.49,
  'joy': 25.37,
  'surprise': 11.71},
 1970: {'fear': 19.11,
  'anger': 13.59,
  'sadness': 27.15,
  'joy': 28.98,
  'surprise': 11.17},
 1980: {'fear': 17.85,
  'anger': 16.49,
  'sadness': 30.98,
  'joy': 23.74,
  'surprise': 10.93},
 1990: {'fear': 18.46,
  'anger': 14.61,
  'sadness': 25.37,
  'joy': 30.03,
  'surprise': 11.53},
 2000: {'fear': 17.3,
  'anger': 17.54,
  'sadness': 29.55,
  'joy': 27.69,
  'surprise': 7.91},
 2010: {'fear': 18.11,
  'anger': 15.43,
  'sadness': 27.5,
  'joy': 30.72,
  'surprise': 8.24}}

In [12]:
chart_data = []
for k,v in df2dict.items():
    chart_dict = {'Decade': k, 'Fear': v['fear'], 'Anger': v['anger'], 'Sadness': v['sadness'], 'Joy': v['joy'], 'Surprise': v['surprise']}
#     print(chart_dict)
    chart_data.append(chart_dict)
print(chart_data)

[{'Decade': 1780, 'Fear': 16.25, 'Anger': 19.11, 'Sadness': 26.31, 'Joy': 30.03, 'Surprise': 8.3}, {'Decade': 1790, 'Fear': 17.27, 'Anger': 22.62, 'Sadness': 29.64, 'Joy': 21.71, 'Surprise': 8.76}, {'Decade': 1800, 'Fear': 16.65, 'Anger': 20.16, 'Sadness': 32.82, 'Joy': 21.09, 'Surprise': 9.27}, {'Decade': 1810, 'Fear': 18.83, 'Anger': 18.91, 'Sadness': 29.6, 'Joy': 21.46, 'Surprise': 11.21}, {'Decade': 1820, 'Fear': 17.28, 'Anger': 19.88, 'Sadness': 28.24, 'Joy': 26.72, 'Surprise': 7.88}, {'Decade': 1830, 'Fear': 15.61, 'Anger': 20.84, 'Sadness': 32.44, 'Joy': 21.58, 'Surprise': 9.53}, {'Decade': 1840, 'Fear': 17.8, 'Anger': 20.95, 'Sadness': 28.48, 'Joy': 23.7, 'Surprise': 9.06}, {'Decade': 1850, 'Fear': 19.59, 'Anger': 20.68, 'Sadness': 32.33, 'Joy': 18.85, 'Surprise': 8.55}, {'Decade': 1860, 'Fear': 20.09, 'Anger': 20.02, 'Sadness': 29.45, 'Joy': 21.19, 'Surprise': 9.25}, {'Decade': 1870, 'Fear': 19.75, 'Anger': 22.56, 'Sadness': 32.97, 'Joy': 18.3, 'Surprise': 6.41}, {'Decade': 1880, 'Fear': 18.07, 'Anger': 23.51, 'Sadness': 26.59, 'Joy': 23.14, 'Surprise': 8.69}, {'Decade': 1890, 'Fear': 19.63, 'Anger': 19.64, 'Sadness': 29.28, 'Joy': 21.69, 'Surprise': 9.75}, {'Decade': 1900, 'Fear': 21.09, 'Anger': 20.9, 'Sadness': 28.28, 'Joy': 22.4, 'Surprise': 7.32}, {'Decade': 1910, 'Fear': 21.28, 'Anger': 22.01, 'Sadness': 31.41, 'Joy': 17.55, 'Surprise': 7.75}, {'Decade': 1920, 'Fear': 20.45, 'Anger': 19.4, 'Sadness': 31.51, 'Joy': 20.56, 'Surprise': 8.08}, {'Decade': 1930, 'Fear': 18.42, 'Anger': 22.89, 'Sadness': 32.94, 'Joy': 18.7, 'Surprise': 7.04}, {'Decade': 1940, 'Fear': 17.31, 'Anger': 15.42, 'Sadness': 33.61, 'Joy': 27.11, 'Surprise': 6.55}, {'Decade': 1950, 'Fear': 23.61, 'Anger': 15.74, 'Sadness': 22.7, 'Joy': 28.8, 'Surprise': 9.15}, {'Decade': 1960, 'Fear': 18.73, 'Anger': 15.7, 'Sadness': 28.49, 'Joy': 25.37, 'Surprise': 11.71}, {'Decade': 1970, 'Fear': 19.11, 'Anger': 13.59, 'Sadness': 27.15, 'Joy': 28.98, 'Surprise': 11.17}, {'Decade': 1980, 'Fear': 17.85, 'Anger': 16.49, 'Sadness': 30.98, 'Joy': 23.74, 'Surprise': 10.93}, {'Decade': 1990, 'Fear': 18.46, 'Anger': 14.61, 'Sadness': 25.37, 'Joy': 30.03, 'Surprise': 11.53}, {'Decade': 2000, 'Fear': 17.3, 'Anger': 17.54, 'Sadness': 29.55, 'Joy': 27.69, 'Surprise': 7.91}, {'Decade': 2010, 'Fear': 18.11, 'Anger': 15.43, 'Sadness': 27.5, 'Joy': 30.72, 'Surprise': 8.24}]