In [1]:
import pymongo
import pandas as pd
import nltk
import os
conn = 'mongodb://timanderin.info:27017'
client = pymongo.MongoClient(conn)
speechDB = client.speech_db
debateCOL = speechDB.presidential_debates
presidential_speech = speechDB.presidential_speech
df = pd.read_csv(os.path.join("..","Erin","all.csv"), index_col = 0)

In [2]:
test = debateCOL.find()
i= 0

while i < debateCOL.count():
    print(test[i]['year'])
    i=i+1

/Users/Jae/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  after removing the cwd from sys.path.

2016-09-26 00:00:00
2016-10-04 00:00:00
2016-10-09 00:00:00
2016-10-19 00:00:00
2012-10-03 00:00:00
2012-10-11 00:00:00
2012-10-16 00:00:00
2012-10-22 00:00:00
2008-10-07 00:00:00
2008-10-15 00:00:00
2004-10-13 00:00:00
2004-10-08 00:00:00
2004-10-05 00:00:00
2004-09-30 00:00:00
2000-10-03 00:00:00
2000-10-05 00:00:00
2000-10-11 00:00:00
2000-10-17 00:00:00
1996-10-06 00:00:00
1996-10-09 00:00:00
1996-10-16 00:00:00
1992-10-11 00:00:00
1992-10-11 00:00:00
1992-10-13 00:00:00
1992-10-15 00:00:00
1992-10-15 00:00:00
1992-10-19 00:00:00
1988-09-25 00:00:00
1988-10-05 00:00:00
1988-10-13 00:00:00
1984-10-07 00:00:00
1984-10-11 00:00:00
1984-10-21 00:00:00
1980-09-21 00:00:00
1980-10-28 00:00:00
1976-09-23 00:00:00
1976-10-06 00:00:00
1976-10-22 00:00:00
1960-09-26 00:00:00
1960-10-07 00:00:00
1960-10-13 00:00:00
1960-10-21 00:00:00

In [4]:
df.head()

,year,text,tag,president,decade
0,2019,"Madam Speaker, Mr. Vice President, Members of ...",speech,Donald Trump,2010
1,2019,"THE PRESIDENT: Just a short time ago, I had th...",speech,Donald Trump,2010
2,2018,"THE PRESIDENT: Madam President, Mr. Secretary-...",speech,Donald Trump,2010
3,2018,"THE PRESIDENT: Thank you, Lee. Thank you, Lee....",speech,Donald Trump,2010
4,2018,"THE PRESIDENT: Thank you to our First Lady, Me...",speech,Donald Trump,2010

In [5]:
df2 = df.drop(columns = 'president')

In [6]:
df2 = df2.dropna()

In [10]:
df2.head()

   year                                               text     tag  decade
0  2019  Madam Speaker, Mr. Vice President, Members of ...  speech    2010
1  2019  THE PRESIDENT: Just a short time ago, I had th...  speech    2010
2  2018  THE PRESIDENT: Madam President, Mr. Secretary-...  speech    2010
3  2018  THE PRESIDENT: Thank you, Lee. Thank you, Lee....  speech    2010
4  2018  THE PRESIDENT: Thank you to our First Lady, Me...  speech    2010

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MaxAbsScaler
from tensorflow.keras.utils import to_categorical
from sklearn.feature_extraction.text import CountVectorizer

X = df2['text']
tf_vectorizer = CountVectorizer(min_df=2, max_df = .95 ,ngram_range = (1,3), stop_words='english')
tf_vectorizer.fit(X)
tf = tf_vectorizer.transform(X)
y = df2['decade']

X_train, X_test, y_train, y_test = train_test_split(tf, y, random_state=1, stratify=y)
X_scaler = MaxAbsScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
X_train_scaled.shape
y.shape

(1028,)

In [23]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train_scaled, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [24]:
clf.score(X_test_scaled, y_test)

0.669260700389105